<mat-card>
  <mat-card-header>
    <mat-card-title>Evento Deportivo</mat-card-title>
    <mat-card-subtitle>Maratón de la Ciudad</mat-card-subtitle>
  </mat-card-header>

  <!-- Imagen destacada usando mat-card-image -->
  <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/unieventos-images-service.appspot.com/o/a8e3d7d9-1570-42ac-87c2-e651dc9ca09a-gatoimage.png?alt=media&token=cb69e939-b9d6-40a4-b6a6-6964a0c978ee" alt="Maratón de la ciudad">

  <mat-card-content>
    <p>
      ¡Únete a la maratón más grande de la ciudad y desafía tus límites!
    </p>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-flat-button>Registrarse</button>
    <button mat-flat-button>Ver detalles</button>
  </mat-card-actions>
</mat-card>

