
mat-card {
  max-width: 400px;
  margin: 20px auto;
  border: 1px solid #857e81;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f4fa;
  color: #857e81;
  transition: transform 0.3s ease;
}

mat-card:hover {
  transform: scale(1.02);
}

mat-card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 16px;
}

button {
  background-color: #c794fa;
  color: white;
  border-radius: 4px;
  padding: 8px 16px;
  margin-left: 8px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a56cdb;
}

mat-card-header {
  background-color: #d9bbf8;
  padding: 16px;
  border-radius: 8px 8px 0 0;
}

mat-card-title {
  font-size: 1.5rem;
  color: #857e81;
  font-weight: bold;
}

mat-card-subtitle {
  font-size: 1rem;
  color: #c794fa;
}

mat-card-content p {
  font-size: 1rem;
  color: #857e81;
  margin: 16px 0;
}
