<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024-2 Universidad del Quindío</span>
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="https://s3.ppllstatics.com/elcorreo/www/multimedia/202002/20/media/cortadas/Biggest-Videogame-Trolls-Feature-Image-kGgB-U100214864904QZC-1248x770@El%20Correo.jpg"><i class="fa-brands fa-x-twitter fs-5"></i></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://s3.ppllstatics.com/elcorreo/www/multimedia/202002/20/media/cortadas/Biggest-Videogame-Trolls-Feature-Image-kGgB-U100214864904QZC-1248x770@El%20Correo.jpg"><i class="fa-brands fa-instagram fs-5"></i></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://s3.ppllstatics.com/elcorreo/www/multimedia/202002/20/media/cortadas/Biggest-Videogame-Trolls-Feature-Image-kGgB-U100214864904QZC-1248x770@El%20Correo.jpg"><i class="fa-brands fa-facebook fs-5"></i></a></li>
      </ul>
    </footer>
   </div>
