/* Archivo CSS externo */

/* Estilos personalizados para los botones */
.btn-custom-primary {
  background-color: #c794fa; /* Color personalizado del botón de registro */
  border-color: #c794fa;
  color: white;
}
.btn-custom-primary:hover {
  background-color: #d9bbf8; /* Color al pasar el cursor */
  border-color: #d9bbf8;
}

.btn-outline-custom {
  color: #857e81;
  border-color: #857e81;
}
.btn-outline-custom:hover {
  background-color: #c794fa;
  color: white;
}

.nav-link-custom {
  color: #c794fa;
}
.nav-link-custom:hover {
  color: #d9bbf8;
  cursor: pointer;
}

.dropdown-menu {
  border: 1px solid #c794fa;
  border-radius: 0.5rem;
}

.dropdown-item {
  padding: 10px 15px;
}

.dropdown-item:hover {
  background-color: #d9bbf8;
  color: white;
}


