<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
    <div class="col-md-3 mb-2 mb-md-0">
      <a  class="d-inline-flex link-body-emphasis text-decoration-none align-items-center nav-link-custom" (click)="llevarIncioSesion()">
        <i class="fa-solid fa-ticket fs-3"></i>
        <span class="fs-4 ms-3 me-3">{{title}}</span>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" [style]="organizarMargenSesion()">
      <li><a class="nav-link px-2 nav-link-custom" (click)="llevarIncioSesion()">Inicio</a></li>
      @if(isLogged && !esSesionAdmin()){
      <li><a routerLink="/historial" class="nav-link px-2 nav-link-custom">Historial</a></li>
      }
      @if(esSesionAdmin()){
      <li><a routerLink="/gestion-eventos" class="nav-link px-2 nav-link-custom">Gestión de eventos</a></li>
        <li><a routerLink="/gestion-cupones" class="nav-link px-2 nav-link-custom">Gestión de cupones</a></li>
      }
    </ul>

    <div class="col-md-3 text-end">
      @if(isLogged && !esSesionAdmin()){
      <a routerLink="/shopping-car" class="btn btn-outline-custom me-2">
        <i class="fa-solid fa-shopping-cart"></i> <!-- Icono del carrito -->
      </a>
    }
    </div>
    <div class="col-md-3 d-flex text-end align-items-center">
    @if(!isLogged){

      <button type="button" routerLink="/login" class="btn btn-outline-custom me-2">Login</button>
      <button type="button" routerLink="/register" class="btn btn-custom-primary">Registro</button>

    }@else {
      <div class="dropdown d-inline">
        <button class="btn btn-outline-custom dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fa-solid fa-user-circle fs-4 me-2"></i>
          <span class="me-3">{{ nombreUsuario }}</span>
        </button>
        @if (esSesionAdmin()) {
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" routerLink="/user-info">Ver información de perfil</a></li>

            <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
          </ul>
        }@else {
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" routerLink="/user-info">Ver información de perfil</a></li>
            <li><a class="dropdown-item" routerLink="/hay-cupones">¡Hay Cupones!</a></li>
            <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
          </ul>
        }
      </div>
    }
  </div>

  </header>
</div>
