
<div id="carouselId" class="carousel slide mb-4" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-bs-target="#carouselId"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="First slide"
    ></li>
    <li
      data-bs-target="#carouselId"
      data-bs-slide-to="1"
      aria-label="Second slide"
    ></li>
    <li
      data-bs-target="#carouselId"
      data-bs-slide-to="2"
      aria-label="Third slide"
    ></li>
  </ol>

  <div class="carousel-inner" role="listbox" title="Carousel slides">
    <div class="carousel-item active">
      <div role="option">
        <img
          src="https://images.pexels.com/photos/106400/pexels-photo-106400.jpeg?auto=compress&cs=tinysrgb&w=2000&h=1000&dpr=1"
          class="w-100 d-block"
          alt="First slide"
        />
      </div>
    </div>
    <div class="carousel-item">
      <div role="option">
        <img
          src="https://images.pexels.com/photos/3473085/pexels-photo-3473085.jpeg?auto=compress&cs=tinysrgb&w=2000&h=1000&dpr=1"
          class="w-100 d-block"
          alt="Second slide"
        />
      </div>
    </div>
    <div class="carousel-item">
      <div role="option">
        <img
          src="https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&w=2000&h=1000&dpr=1"
          class="w-100 d-block"
          alt="Third slide"
        />
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselId"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselId"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

 <!-- Filtros de Búsqueda -->
 <form class="d-flex justify-content-between align-items-center my-3 p-3 filter-bar" [formGroup]="filterForm" (ngSubmit)="filter(0)">
  <input
    type="text"
    class="form-control me-2"
    placeholder="Nombre"
    aria-label="Nombre"
    formControlName="name"
  />
  <input
    type="text"
    class="form-control me-2"
    placeholder="Ciudad"
    aria-label="Ciudad"
    formControlName="city"
  />
  <select class="form-select me-2" aria-label="Filtrar por tipo" formControlName="eventType">
    <option value="OTHER" selected>OTHER</option>
    @for (item of tipos; track $index) {
      <option value={{item}}>{{ item }}</option>
    }
  </select>
  <button class="btn btn-primary" type="submit">Aplicar filtros</button>
</form>

<app-card-grid [events]="eventos"></app-card-grid>

<nav aria-label="Page navigation example" class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage===0"><a class="page-link" (click)="previousPage()">Previous</a></li>
    @for (item of pages; track $index) {
      @if(filterUsed){
        <li class="page-item"><a class="page-link" (click)="filter($index)">{{$index+1}}</a></li>
      }@else {
        <li class="page-item"><a class="page-link" (click)="obtenerEventos($index)">{{$index+1}}</a></li>
      }
      
    }
    <li class="page-item" [class.disabled]="!eventsAvailable"><a class="page-link" (click)="eventsAvailable ? nextPage() : null">Next</a></li>
  </ul>
</nav>
