<div class="container">
  <div class="card">
    <!-- Encabezado de la tarjeta -->
    <div class="card-header p-4">
      <h5 *ngIf="updateOnly">
        <i class="fas fa-edit me-3"></i>
        <span>Actualización de eventos</span>
      </h5>
      <h5 *ngIf="readOnly">
        <i class="fas fa-info-circle me-3"></i>
        <span>Detalles de eventos</span>
      </h5>
      <h5 *ngIf="!readOnly && !updateOnly">
        <i class="fas fa-plus-circle"></i>
        <span>Creación de eventos</span>
      </h5>
    </div>

    <!-- Contenedor de imágenes, solo visible en modo de solo lectura -->
    <div class="card-body p-4">
      <div class="col-12 mb-4" *ngIf="readOnly">
        <div class="img-wrapper d-flex justify-content-between">
          <!-- Imagen de portada -->
          <div class="cover-image">
            <label>Cover Image:</label>
            @if (createEventForm.get('coverImage')) {
              <img [src]="createEventForm.get('coverImage')?.value" alt="Cover Image"
              class="img-fluid image-hover" />
            }
          </div>

          <!-- Imagen de localidades -->
          <div class="localities-image">
            <label>Localities Image:</label>
            @if (createEventForm.get('localitiesImage')) {
              <img [src]="createEventForm.get('localitiesImage')?.value" alt="Localities Image"
              class="img-fluid image-hover" />
            }
          </div>
        </div>
      </div>

      <!-- Formulario -->
      <form class="row g-3" [formGroup]="createEventForm" novalidate>
        <div class="col-6">
          <label>Name:</label>
          <input type="text" class="form-control" formControlName="name" [readonly]="readOnly" />
        </div>
        <div class="col-6">
          <label>Address:</label>
          <input type="text" class="form-control" formControlName="address" [readonly]="readOnly" />
        </div>
        <div class="col-6">
          <label>City:</label>
          <input type="text" class="form-control" formControlName="city" [readonly]="readOnly" />
        </div>

        <!-- Entradas de archivo en modo edición -->
        <div class="col-6 d-inline-block">
          <label class="form-label">Imagen portada: </label>
          <div class="d-flex gap-2">
            <input type="file" (change)="onFileChange($event, 'portada')" class="form-control" />
            <button type="submit" class="btn btn-primary" (click)="subirImagen('portada')"><i
                class="fa-solid fa-cloud-arrow-up"></i></button>
          </div>
        </div>
        <div class="col-6 d-inline-block">
          <label class="form-label">Imagen localidades </label>
          <div class="d-flex gap-2">
            <input type="file" (change)="onFileChange($event, 'localidades')" class="form-control" />
            <button type="submit" class="btn btn-primary" (click)="subirImagen('localidades')"><i
                class="fa-solid fa-cloud-arrow-up"></i></button>
          </div>
        </div>

        <div class="col-6">
          <label for="eventDate">Event Date:</label>
          <input type="datetime-local" class="form-control" id="eventDate" formControlName="date"
            [readonly]="readOnly" />
        </div>
        <div class="col-6">
          <label>Description:</label>
          <textarea class="form-control" formControlName="description" [readonly]="readOnly"></textarea>
        </div>
        <div class="col-6">
          <label class="form-label">Type:</label>
          <select formControlName="type" class="form-select" [disabled]="readOnly">
            <option value="">Select a type</option>
            @for (item of eventTypes; track $index) {
            <option value={{item}}>{{ item }}</option>
            }
          </select>
        </div>

        <!-- Sección de Localities antes del botón de Submit -->
        <div class="col-12">
          <label>Localities:</label>
          <div formArrayName="locations">
            <ng-container *ngFor="let locality of locations.controls; let i = index">
              <div [formGroupName]="i" class="mb-3">
                <div class="row">
                  <div class="col-md-3">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Name"
                      [readonly]="readOnly" />
                  </div>
                  <div class="col-md-3">
                    <label for="price">Price:</label>
                    <input type="number" class="form-control" formControlName="price" placeholder="Price"
                      [readonly]="readOnly" />
                  </div>
                  <div class="col-md-3">
                    <label for="maxCapacity">Max Capacity:</label>
                    <input type="number" class="form-control" formControlName="maxCapacity" placeholder="Max Capacity"
                      [readonly]="readOnly" />
                  </div>
                  <div class="col-md-12 text-end mt-2">
                    <button *ngIf="!readOnly" type="button" class="btn btn-danger" (click)="removeLocality(i)">
                      Remove Locality
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="text-end mt-2">
            <button *ngIf="!readOnly" type="button" class="btn btn-success" (click)="addLocality()">
              Add Locality
            </button>
          </div>
        </div>

        <div class="col-12 text-center">
          <button *ngIf="readOnly" type="button" class="btn btn-warning" (click)="mostrarActualizarEvento()">
            <i class="fa-solid fa-edit me-2"></i>Actualizar Evento
          </button>
          <button *ngIf="updateOnly" type="button" class="btn btn-success" (click)="guardarCambios()">
            <i class="fa-solid fa-save me-2"></i>Guardar Cambios
          </button>
          <button *ngIf="!readOnly && !updateOnly" type="submit" class="btn btn-primary"
            [disabled]="createEventForm.invalid" (click)="crearEvento()">
            <i class="fa-solid fa-plus me-2"></i>Create event
          </button>
        </div>
      </form>
    </div>
  </div>
</div>