.img-wrapper {
  display: flex;
  gap: 20px;
}

.cover-image, .localities-image {
  flex: 1;
  max-width: 45%; /* Ajusta el ancho máximo */
}

.image-hover {
  transition: transform 0.3s ease;
}

.image-hover:hover {
  transform: scale(1.05);
}
