.btn-custom {
  background-color: #c794fa;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
}

.btn-custom:hover {
  background-color: #b08bd1; /* Color de fondo al hacer hover */
  border-color: #65558f;
}
