.container {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
}

.table th, .table td {
  vertical-align: middle;
}

.btn {
  min-width: 100px;
}

.btn-primary, .btn-secondary {
  margin-right: 5px;
}

/* Colores personalizados */
.text-success {
  color: green;
}

.text-danger {
  color: red;
}
@media (max-width: 768px) {
  .col-md-4, .col-md-8 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}
