<div class="container mt-5">
  <div class="card shadow-sm">
    <!-- Encabezado del historial de compras -->
    <div class="card-header ps-5 pt-4 pb-4">
      <h5 class="mb-0"><i class="fa-solid fa-receipt me-3"></i>Historial de Compras</h5>
    </div>

    <div class="card-body p-5">
      <div class="mb-3">
        <!-- Botón para enviar entradas al amigo -->
        <button
          type="button"
          class="btn btn-primary anim-e me-2"
          (click)="enviarEntradasAmigo()"
          [disabled]="isEnviarEntradasDisabled()"
        >
          <i class="fa-solid fa-envelope me-1"></i> Enviar entradas a un amigo
        </button>

        <!-- Botón para cancelar compras -->
        <button
          type="button"
          class="btn btn-danger anim-e me-2"
          (click)="cancelarCompras()"
          [disabled]="!hayComprasSeleccionadas()"
        >
          <i class="fa-solid fa-ban me-1"></i> Cancelar compras
        </button>

        <button
          type="button"
          class="btn btn-success anim-e me-2"
          *ngIf="hayComprasSeleccionadas()"
          (click)="pagarOrdenesNoPagadas()"
          [disabled]="isLoading">
          <i class="fa-solid fa-credit-card me-2"></i>
          <span *ngIf="isLoading">Procesando...</span>
          <span *ngIf="!isLoading">Pagar Ordenes No Pagadas</span>
        </button>
      </div>

      <!-- Tabla de historial de compras -->
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th><input type="checkbox" (change)="seleccionarTodo($event)" [checked]="todosSeleccionados()"/></th>
              <th>#</th>
              <th>Fecha de Compra</th>
              <th>Método de Pago</th>
              <th>Fecha de Pago</th>
              <th>Total a Pagar</th>
              <th>Estado del Pago</th>
              <th>Detalles</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let compra of historialCompras; let i = index">
              <!-- Checkbox de selección individual -->
              <td>
                <input
                  type="checkbox"
                  class="form-check-input"
                  (change)="seleccionarCompra(compra, $event)"
                  [checked]="compra.seleccionado"
                />
              </td>
              <!-- Otros detalles de la compra -->
              <td>{{ i + 1 }}</td>
              <td>{{ compra.orderDate | date: 'dd/MM/yyyy' }}</td>
              <td>{{ compra.paymentType }}</td>
              <td>{{ compra.paymentDate | date: 'dd/MM/yyyy'}}</td>
              <td>{{ compra.total | currency: 'COP':'symbol':'1.0-0' }}</td>
              <td>
                <span [ngClass]="{'text-success': compra.status === 'approved', 'text-danger': compra.status !== 'approved'}">
                  {{ compra.status || 'No Pagada' }}
                </span>
              </td>
              <td>
                <a href="javascript:void(0)" (click)="verDetalles(compra.id)">
                  <i class="fa-solid fa-eye"></i> Ver detalle
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        @if(isLoading){
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
