/* Estilo para las tarjetas */
.card {
  margin-top: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.card-header {
  background-color: #b08bd1;
  font-weight: bold;
  padding: 10px 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 15px;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

table th, table td {
  text-align: center;
  padding: 12px;
  border: 1px solid #ddd;
  vertical-align: middle;
}

table th {
  background-color: #c794fa;
  color: white;
}

table td {
  background-color: #f9f9f9;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tbody tr:hover {
  background-color: #e0e0e0;
}

button {
  background-color: #b08bd1;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c794fa;
}

.card .card-body .card {
  margin-top: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  background-color: #f4f4f9;
}

h5, h6 {
  color: #b08bd1;
  font-weight: weight;
}

.card-header h6 {
  font-size: 1.1rem;
}

table tr:nth-child(odd) td {
  background-color: white;
}

.card-body p {
  font-size: 1rem;
  color: #333;
}

.card-body .card {
  margin-top: 20px;
}
