<div class="container mt-4">
  <h2>Carrito de Compras</h2>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre del Evento</th>
            <th>Tipo de Evento</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemsCarrito; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.eventName }}</td>
            <td>{{ item.eventType }}</td>
            <td>{{ item.price | currency }}</td>
            <td>
              <input type="number" class="form-control"
                     [value]="item.quantity" min="1"
                     (change)="actualizarCantidad(item, $event)" />
            </td>
            <td>{{ item.price * item.quantity | currency:'COP' }}</td>
            <td>
              <button class="btn btn-danger btn-sm" type="button" (click)="confirmarEliminacion(i)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5>Resumen de Pago</h5>
          <div class="mb-3">
            <label for="subtotal" class="form-label">Subtotal</label>
            <input type="text" class="form-control" id="subtotal" [value]="subtotal | currency" readonly />
          </div>
          <div class="mb-3">
            <label for="couponCode" class="form-label">Código de Cupón</label>
            <div class="input-group">
              <input type="text" class="form-control" id="couponCode" [(ngModel)]="couponCode" placeholder="Ingresa tu código de cupón" />
              <button class="btn btn-primary" type="button" (click)="aplicarCupon()">Aplicar</button>
            </div>
            <!-- Mostrar mensaje de error si el cupón es inválido -->
            <div *ngIf="cuponInvalido" class="text-danger mt-2">
              El cupón no es válido o ha expirado.
            </div>
          </div>
          <div class="mb-3">
            <label for="discount" class="form-label">Descuento Aplicado</label>
            <input type="text" class="form-control" id="discount" [value]="descuento | currency" readonly />
          </div>
          <div class="mb-3">
            <label for="totalToPay" class="form-label">Total a Pagar</label>
            <input type="text" class="form-control" id="totalToPay" [value]="total | currency" readonly />
          </div>
          <button class="btn btn-success" type="button" (click)="crearOrden()"[disabled]="isLoading">Realizar Pago</button>

          @if(isLoading){
            <div class="d-flex justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
