<div style="color:white;padding-top: 100px;">
  <form>
    <div class="correoRecuperacion">
      <h5>Ingrese su correo</h5><br>
      <p>Se le enviar&aacute; un email a su correo electronico con un codigo de verificaci&oacute;n.</p>
      <label>Confirme la contrase&ntilde;a:</label>
      <input type="email" placeholder="Ingrese su correo" class="form-control" required><br>
    </div>
    <div style="text-align: center;">
      <input type="submit" value="Enviar c&oacute;digo" class="btn btn-dark" style="background-color: #65558f;">
    </div>
  </form>
</div>

