
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.decorative-circles {
  position: relative;
  margin-bottom: 20px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
}

.circle-one {
  top: 20px;
  left: calc(50% - 40px);
  background-color: #c1bbd2;
}

.circle-two {
  top: 20px;
  left: calc(50% + 40px);
  background-color: #65558f;
}


.line {
  position: absolute;
  top: 35px;
  left: calc(50% - 10px);
  height: 2px;
  width: 60px;
  background-color: #65558f;
}

.card {
  background-color: rgba(193, 187, 210, 0.5);
  border: none;
  border-radius: 20px;
}

.card-title {
  color: #65558f;
  font-weight: bold;
}

.form-label {
  color: #65558f;
}

.form-control {
  border-color: #65558f;
}

.form-control:focus {
  border-color: #65558f;
  box-shadow: 0 0 5px rgba(101, 85, 143, 0.5);
}

.btn-custom {
  background-color: #65558f;
  border-color: #65558f;
  color: white;
}


.btn-custom:hover {
  background-color: #52407e;
}

.alert-danger {
  background-color: rgba(101, 85, 143, 0.2);
  color: #65558f;
  border: none;
}

.changePasswordDiv {
  margin-top: 50px;
}

