<div class="main-container">
  <!-- Contenedor para los círculos decorativos -->
  <div class="decorative-circles">
    <div class="circle circle-one"></div>
    <div class="circle circle-two"></div>
    <div class="line"></div>
  </div>

  <!-- Formulario de cambio de contraseña -->
  <div class="changePasswordDiv">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="card p-4 shadow-sm mx-auto" style="max-width: 400px;">
      <div class="card-body">
        <h5 class="card-title text-center">Nueva Contraseña</h5>

        <!-- Campo para el código -->
        <div class="mb-3">
          <label for="code" class="form-label">Código de cambio de contraseña:</label>
          <input type="text" id="code" formControlName="code" placeholder="Ingrese el código" class="form-control" required>
        </div>

        <!-- Campo para la nueva contraseña -->
        <div class="mb-3">
          <label for="password" class="form-label">Nueva Contraseña:</label>
          <input type="password" id="password" formControlName="password" placeholder="Ingrese la nueva contraseña" class="form-control" required>
        </div>

        <!-- Campo para confirmar la nueva contraseña -->
        <div class="mb-3">
          <label for="passwordConfirmation" class="form-label">Confirme la Contraseña:</label>
          <input type="password" id="passwordConfirmation" formControlName="passwordConfirmation" placeholder="Confirme la nueva contraseña" class="form-control" required>
        </div>

        <!-- Alerta de error para contraseñas que no coinciden -->
        <div *ngIf="changePasswordForm.hasError('passwordsMismatch')" class="alert alert-danger mt-3" role="alert">
          Las contraseñas no coinciden
        </div>

        <!-- Botón de envío -->
        <div class="text-center mb-3">
          <button type="submit" class="btn btn-dark w-100" style="background-color: #65558f;" [disabled]="changePasswordForm.invalid">
            Restablecer
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
