<div class="main-container">
  <div class="decorative-circles">
    <div class="circle circle-one"></div>
    <div class="circle circle-two"></div>
    <div class="line"></div>
  </div>

  <div class="changePasswordDiv">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="card p-4 shadow-sm mx-auto form-max-width">
      <div class="card-body">
        <h5 class="card-title text-center">Nueva Contraseña</h5>

        <div class="mb-3">
          <label for="code" class="form-label">Código de cambio de contraseña:</label>
          <input type="text" id="code" formControlName="code" placeholder="Ingrese el código" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Nueva Contraseña:</label>
          <input type="password" id="password" formControlName="password" placeholder="Ingrese la nueva contraseña" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="passwordConfirmation" class="form-label">Confirme la Contraseña:</label>
          <input type="password" id="passwordConfirmation" formControlName="passwordConfirmation" placeholder="Confirme la nueva contraseña" class="form-control" required>
        </div>

        <!-- Alerta de error para contraseñas que no coinciden -->
        @if (changePasswordForm.hasError('passwordsMismatch')) {
          <div class="alert alert-danger" role="alert">
            Las contraseñas no coinciden
          </div>
        }

        <div class="text-center mb-3">
          <button type="submit" class="btn btn-custom  w-100 custom-button" [disabled]="changePasswordForm.invalid">
            Restablecer
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
